In [150]:
import pandas as pd
import numpy as np
import requests
import os
import json
import datetime as dt
from dateutil.parser import parse

In [151]:
#json to dataframe
us_df = pd.read_json('data/us_covid19.json')
us_df['date']=us_df['date'].astype(str)

In [152]:
#change date format
for i, row in us_df.iterrows():
    parsed= parse(row.date)
    us_df.at[i,'date']=parsed.strftime('%Y-%m-%d')

In [153]:
us_df.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResults,lastModified,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,2020-12-06,56,14534035,161986294,13592,101487,585676,20145,31946,7094,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
1,2020-12-05,56,14357264,160813704,13433,101190,583420,19950,31831,7005,...,202429337,2020-12-05T24:00:00Z,0,0,2445,3316,1526995,211073,2169756,6249216c5f097c94ce33a811dab011a483a42404
2,2020-12-04,56,14146191,159286709,12714,101276,580104,19858,31608,6999,...,200259581,2020-12-04T24:00:00Z,0,0,2563,4652,1260657,224831,1854869,ae30ea088584335ba4d57ee927f8dbda6add74db
3,2020-12-03,56,13921360,158026052,15106,100755,575452,19723,31276,6867,...,198404712,2020-12-03T24:00:00Z,0,0,2706,5331,1238465,210204,1828230,0f253d185ecb336cdd18a4c61996eda1b7eef13b
4,2020-12-02,56,13711156,156787587,14368,100322,570121,19680,31038,6855,...,196576482,2020-12-02T24:00:00Z,0,0,2733,5028,982032,195796,1459202,477c17b6302d0485195e77ecf8270a974f7a3c82

In [154]:
state_df = pd.read_json('data/us_states.json')
state_df['date']=state_df['date'].astype(str)

In [155]:
#change date format
for i, row in state_df.iterrows():
    parsed= parse(row.date)
    state_df.at[i,'date']=parsed.strftime('%Y-%m-%d')

In [156]:
us_df=us_df.drop(columns=['states'])

In [157]:
us_df.drop(us_df.iloc[:,2:25],inplace=True,axis=1)

In [158]:
us_df.rename(columns={'date':'Date','positive':'NationalPositiveCount'},inplace=True)
us_df.head()

         Date  NationalPositiveCount
0  2020-12-06               14534035
1  2020-12-05               14357264
2  2020-12-04               14146191
3  2020-12-03               13921360
4  2020-12-02               13711156

In [159]:
state_df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,2020-12-06,AK,35720,,1042056,,totalTestsViral,1077776,164,799,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,
1,2020-12-06,AL,269877,45962,1421126,,totalTestsPeopleViral,1645041,1927,26331,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,
2,2020-12-06,AR,170924,22753,1614979,,totalTestsViral,1763150,1076,9401,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,
3,2020-12-06,AS,0,,2140,,totalTestsViral,2140,,,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,
4,2020-12-06,AZ,364276,12590,2018813,,totalTestsPeopleViral,2370499,2977,28248,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,

In [160]:
state_df.drop(state_df.iloc[:,3:41],inplace=True,axis=1)
state_df.drop(state_df.iloc[:,4:18],inplace=True,axis=1)
state_df.rename(columns={'date':'Date','state':'State','positive':'TotalStateCount','positiveIncrease':'DailyIncrease'},inplace=True)
state_df = state_df[['Date','State','DailyIncrease','TotalStateCount']]
state_df.head()

         Date State  DailyIncrease TotalStateCount
0  2020-12-06    AK            757           35720
1  2020-12-06    AL           2288          269877
2  2020-12-06    AR           1542          170924
3  2020-12-06    AS              0               0
4  2020-12-06    AZ           5376          364276

In [162]:
merged_df=pd.merge(us_df,state_df,on='Date')
merged_df = merged_df[['Date','State','DailyIncrease','TotalStateCount','NationalPositiveCount']]
merged_df.head(50)

          Date State  DailyIncrease TotalStateCount  NationalPositiveCount
0   2020-12-06    AK            757           35720               14534035
1   2020-12-06    AL           2288          269877               14534035
2   2020-12-06    AR           1542          170924               14534035
3   2020-12-06    AS              0               0               14534035
4   2020-12-06    AZ           5376          364276               14534035
5   2020-12-06    CA          30075         1341700               14534035
6   2020-12-06    CO           3234          260581               14534035
7   2020-12-06    CT              0          127715               14534035
8   2020-12-06    DC            264           23136               14534035
9   2020-12-06    DE            816           39912               14534035
10  2020-12-06    FL           8175         1040727               14534035
11  2020-12-06    GA           1805          443822               14534035
12  2020-12-06    GU             27            7004               14534035
13  2020-12-06    HI            104           18842               14534035
14  2020-12-06    IA           1499          213390               14534035
15  2020-12-06    ID           1339          109705               14534035
16  2020-12-06    IL           7598          787573               14534035
17  2020-12-06    IN           6598          381617               14534035
18  2020-12-06    KS              0          168295               14534035
19  2020-12-06    KY           2567          200632               14534035
20  2020-12-06    LA           3946          251123               14534035
21  2020-12-06    MA           4827          256844               14534035
22  2020-12-06    MD           2643          215027               14534035
23  2020-12-06    ME            221           13348               14534035
24  2020-12-06    MI              0          426576               14534035
25  2020-12-06    MN           5581          350862               14534035
26  2020-12-06    MO           3876          322298               14534035
27  2020-12-06    MP              0             106               14534035
28  2020-12-06    MS           1473          164931               14534035
29  2020-12-06    MT            806           67875               14534035
30  2020-12-06    NC           6438          394990               14534035
31  2020-12-06    ND            477           82981               14534035
32  2020-12-06    NE           2243          138568               14534035
33  2020-12-06    NH            633           24771               14534035
34  2020-12-06    NJ           6030          368016               14534035
35  2020-12-06    NM           1232          108088               14534035
36  2020-12-06    NV           2511          168139               14534035
37  2020-12-06    NY           9702          705827               14534035
38  2020-12-06    OH           7592          475024               14534035
39  2020-12-06    OK           3241          216486               14534035
40  2020-12-06    OR           1253           84496               14534035
41  2020-12-06    PA           8630          420114               14534035
42  2020-12-06    PR           1139           56671               14534035
43  2020-12-06    RI              0           62137               14534035
44  2020-12-06    SC           2864          232099               14534035
45  2020-12-06    SD            687           85991               14534035
46  2020-12-06    TN           3072          400594               14534035
47  2020-12-06    TX           8573         1249323               14534035
48  2020-12-06    UT           2563          215407               14534035
49  2020-12-06    VA           3880          255053               14534035

In [163]:
merged_df.to_csv('data/cleanusa.csv')